@inherits LayoutComponentBase

<input id="is-side-bar-closed" type="checkbox">

<nav class="side-nav">
    <label for="is-side-bar-closed" class="side-nav__toggle"></label>
    <div class="side-nav__content"></div>
</nav>

<div class="presentation">
    <header>
        Hello header!
    </header>
    <main>
        @Body
    </main>
    <footer>
        Hello footer!
    </footer>
</div>