@inherits LayoutComponentBase
@inject IJSRuntime Js

<nav class="side-nav">
    <div class="side-nav__toggle"></div>
</nav>

<div class="presentation">
    <header>
        Hello header!
    </header>
    <main>
        @Body
    </main>
    <footer>
        Hello footer
    </footer>
</div>

@code
{
    private IJSObjectReference? _jsModule;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _jsModule = await Js.InvokeAsync<IJSObjectReference>("import", 
            $"./Layout/{nameof(MainLayout)}.razor.js");
        await _jsModule.InvokeVoidAsync("ready");
        
        await base.OnAfterRenderAsync(firstRender);
    }
}
