@inherits LayoutComponentBase

<PageTitle>TestBlazorServer</PageTitle>

<PageWithResponsiveSideNav>
    <Logo>
        <img class="size-24" src="favicon.png" alt="">
        <h1 class="text-contrast">Self Finance</h1>
    </Logo>

    <SideNavOptions>
        <NavLink class="nice-link" href="/" Match="NavLinkMatch.All">Transactions</NavLink>
        <NavLink class="nice-link" href="tags">Tags</NavLink>
        <NavLink class="nice-link" href="reports">Reports</NavLink>
    </SideNavOptions>

    <MainContent>
        @Body
    </MainContent>
</PageWithResponsiveSideNav>