@inherits LayoutComponentBase

<PageTitle>TestBlazorServer</PageTitle>

<PageWithSideNav>
    <SideNavOptions>
        <NavLink href="/" Match="NavLinkMatch.All">Transactions</NavLink>
        <NavLink href="tags">Tags</NavLink>
        <NavLink href="reports">Reports</NavLink>
    </SideNavOptions>
    <MainContent>
        @Body
    </MainContent>
    <Logo>
        <img src="favicon.png" alt="">
        <h1>Self Finance</h1>
    </Logo>
</PageWithSideNav>