<input id="check" type="checkbox">

<nav class="side-nav">
    <label class="side-nav__toggle" for="check"></label>
    <div class="side-nav__content">
        <div class="side-nav__logo">@Logo</div>
        <div class="side-nav__options flex-col">@SideNavOptions</div>
    </div>
</nav>

<div class="presentation">
    @MainContent
</div>

@code
{
    [Parameter] public RenderFragment SideNavOptions { get; set; }
    [Parameter] public RenderFragment Logo { get; set; }
    [Parameter] public RenderFragment MainContent { get; set; }
}