.side-nav {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    z-index: 100;
}

.side-nav ~ .presentation {
    padding: 20px;
    overflow-x: hidden;
    margin-left: 265px;
    transition: margin-left .5s;
}

.side-nav__content {
    position: relative;
    width: 240px;
    background-color: var(--contrast-color);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: width .5s;
}

.side-nav__content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--contrast-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
}

::deep .side-nav__content a {
    display: block;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

::deep .side-nav__content a:hover {
    background-color: var(--gray-700);
}

::deep .side-nav__content .active {
    background-color: var(--gray-700);
}

.side-nav__toggle {
    position: relative;
    width: 25px;
    background-color: transparent;
    cursor: pointer;
}

.side-nav__toggle:after {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: calc(50% - 2px);
    width: 5px;
    height: 40px;
    background-color: var(--grey);
    border-radius: 3px;
    transition: all .3s;
}

.side-nav__toggle:hover:after {
    background-color: var(--contrast-color);
    transform: translate(0, -5px);
    height: 50px;
}

.side-nav__toggle:hover + .side-nav__content:after {
    visibility: visible;
    opacity: .6;
}

#is-side-bar-closed {
    appearance: none;
    display: none;
}

#is-side-bar-closed:checked + .side-nav > .side-nav__content {
    width: 0;
    overflow-x: hidden;
}

#is-side-bar-closed:checked ~ .presentation {
    margin-left: 25px;
}

#is-side-bar-closed:checked + .side-nav > .side-nav__content:after {
    visibility: visible;
    opacity: 1;
}

::deep .logo-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 4rem;
    justify-content: center;
}

::deep .logo-container > img {
    width: 24px;
    height: 24px;
}