@typeparam TItem

<div class="component-container">
    <table>
        <thead>
        <tr>
            @if (HeaderTemplate is not null)
            {
                @HeaderTemplate
            }
        </tr>
        </thead>

        <tbody>
        @if (!Items.Any())
        {
            <p class="loading">Loading...</p>
        }
        @foreach (var item in Items)
        {
            <tr>
                @if (DataRowTemplate is not null)
                {
                    @DataRowTemplate(item)
                }
            </tr>
        }
        </tbody>
    </table>
</div>

@code {

    [Parameter]
    public IEnumerable<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment? HeaderTemplate { get; set; }

    [Parameter]
    public RenderFragment<TItem>? DataRowTemplate { get; set; }

}