table {
    width: 100%;
    border-spacing: 0;
    border: none;
}

::deep td, ::deep th {
    padding: .5rem .5rem;
}

::deep th {
    background-color: var(--light-grey);
    text-align: left;
    color: var(--text-primary);
}

::deep td {
    text-align: left;
    color: var(--text-secondary);
}

::deep th:first-child, ::deep td:first-child {
    border-radius: 7px 0 0 7px;
}

::deep .align-left {
    text-align: right;
}

::deep .primary-text {
    color: var(--text-primary);
}


::deep .actions-cell {
    border-radius: 0 7px 7px 0;
    width: 40px;
}

::deep .btn-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    opacity: 0;
    transition: opacity .1s;
}

::deep tr:hover .btn-container {
    opacity: 1;
}

::deep .btn-container button {
    height: 32px;
    width: 32px;
    border: solid 2px var(--border-heavy);
    border-radius: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .2s;
}

::deep .edit-btn {
    background-image: url("images/edit.png");
    background-size: 16px 16px;
}

::deep .delete-btn {
    background-image: url("images/delete.png");
    background-size: 18px 18px;
}

::deep .edit-btn:hover {
    border-color: transparent;
    background-color: var(--warning-color);
}

::deep .delete-btn:hover {
    border-color: transparent;
    background-color: var(--danger-color);
}

::deep .align-right {
    text-align: right;
}

::deep .primary-text {
    color: var(--text-primary);
}

.loading {
    padding: .5rem 7px;
}