@using SelfFinance.Blazor.Components.Abstract
@typeparam TId

<ModalBase @ref="_modalBase" Title="Are you sure?">
    <Content>
        <h2 class="description">@Description</h2>

        <div class="btn-container">
            <button class="cancel-btn" @onclick="Hide">Cancel</button>
            <button class="delete-btn" @onclick="OnDeleteAsync">Delete</button>
        </div>
    </Content>
</ModalBase>

@code {
    private ModalBase _modalBase;
    private TId? _modelId;

    [Parameter]
    public string? Description { get; set; }
    
    [Parameter]
    public EventCallback<TId> OnDeleteCallback { get; set; }

    public void Show(TId id)
    {
        _modelId = id;
        _modalBase.Show();
    }

    private void Hide()
    {
        _modalBase.Hide();
        StateHasChanged();
    }

    private async Task OnDeleteAsync()
    {
        Hide();
        await OnDeleteCallback.InvokeAsync(_modelId);
    }
}