@using SelfFinance.Blazor.Components.Abstract

<div class="popup-container" hidden="@_isHidden">
    <div class="popup flex-col gap-10 radius-10 @PopupClass">
        <div class="flex-row gap-10">
            @switch (_popupType)
            {
                case PopupType.Error:
                    <img class="size-20" src="images/error.png" alt="">
                    break;
                case PopupType.Warning:
                    <img class="size-20" src="images/warning.png" alt="">
                    break;
                case PopupType.Success:
                    <img class="size-20" src="images/success.png" alt="">
                    break;
            }
            <span class="text-header">@_title</span>
        </div>
        <div>
            <p>@_message</p>
        </div>
    </div>
</div>

@code {
    private bool _isHidden = true;
    private string? _title;
    private string? _message;
    private PopupType _popupType;

    public string PopupClass => _popupType switch
    {
        PopupType.Error => "bg-danger",
        PopupType.Warning => "bg-warning",
        PopupType.Success => "bg-success"
    };

    private void Show()
    {
        _isHidden = false;
        StateHasChanged();
    }

    private void Hide()
    {
        _isHidden = true;
        StateHasChanged();
    }

    public async Task PopupAsync(PopupType popupType, string title, string message = null)
    {
        _popupType = popupType;
        _title = title;
        _message = message;

        Show();
        await Task.Delay(7000);
        Hide();
    }
}