input[type=radio] {
    display: none;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-container {
    min-width: 310px;
}

::deep .form-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 40px;
}

.start-date {
    grid-area: 1 / 1 / 2 / 2;
}

.end-date {
    grid-area: 1 / 2 / 2 / 3;
}

.submit {
    grid-area: 2 / 2 / 3 / 3;
}

@media screen and (max-width: 610px) {
    .header-row {
        flex-direction: column;
        gap: 14px;
    }
}