@page "/tags"
@using SelfFinance.Blazor.Components.Modals

<PageTitle>Tags</PageTitle>

<div class="container">
    <div class="horizontal-toolbar">
        <h1>Tags</h1>
        <button class="add-btn" @onclick="() => _addModal.Show()">+</button>
    </div>

    <TagsTable Items="_tags"
               OnDeleteCallback="ShowDeleteModal"
               OnEditCallback="ShowEditModal"/>
</div>

<Popup @ref="_popup"/>

<ModalDelete @ref="_deleteModal" TId="int"
             Description="The action will permanently delete a transaction"
             OnDeleteCallback="DeleteAsync"/>

<TagCreateModal @ref="_addModal"
                OnValidSubmitCallback="HandleAddAsync"/>

<TagUpdateModal @ref="_editModal"
                OnValidSubmitCallback="HandleUpdateAsync"/>