@page "/tags"
@using SelfFinance.Blazor.Components
@using SelfFinance.Client.Abstract

@inject IOperationTagService OperationTagService

<ModalDelete @ref="_deleteModal"
             Description="The action will permanently delete a transaction"
             OnDecisionMadeCallback="HandleDeleteModalResultAsync"/>

<TagCreateModal @ref="_addModal"
                OnValidSubmit="HandleAddAsync"/>

<TagUpdateModal @ref="_editModal"
                OnValidSubmit="HandleUpdateAsync"/>

<div class="container">
    <PageTitle>Tags</PageTitle>

    <div class="header">
        <h1>Tags</h1>
        <button class="add-btn" @onclick="() => _addModal.Show()">+</button>
    </div>

    <TagsTable Items="_tags"
               OnDeleteCallback="ShowDeleteModal"
               OnEditCallback="ShowEditModal"/>
</div>