@page "/"
@page "/transactions"

@using SelfFinance.Blazor.Components

<PageTitle>Transactions</PageTitle>

<div class="container">
    <div class="horizontal-toolbar">
        <h1>Transactions</h1>
        <button class="add-btn" @onclick="() => _addModal.Show()">+</button>
    </div>
    
    <TransactionsTable Items="_transactions"
                       OnDeleteCallback="ShowDeleteModal"
                       OnEditCallback="ShowEditModal"/>
</div>

<Popup @ref="_popup"/>

<ModalDelete @ref="_deleteModal" TId="int"
             Description="The action will permanently delete a transaction"
             OnDeleteCallback="DeleteAsync"/>

<TransactionCreateModal @ref="_addModal"
                        OperationTags="_operationTags"
                        OnValidSubmit="HandleAddAsync"/>

<TransactionUpdateModal @ref="_editModal"
                        OperationTags="_operationTags"
                        OnValidSubmit="HandleUpdateAsync"/>