@page "/"
@page "/transactions"

@using SelfFinance.Blazor.Components

<PageTitle>Transactions</PageTitle>

<div class="container">
    <div class="header">
        <h1>Transactions</h1>
        <button class="add-btn" @onclick="() => _addModal.Show()">+</button>
    </div>
    
    <TransactionsTable Items="_transactions"
                       OnDeleteCallback="ShowDeleteModal"
                       OnEditCallback="ShowEditModal"/>
</div>

<WarningPopup @ref="_warningPopup"
              IconPath="images/no-connection.png"/>

<ModalDelete @ref="_deleteModal"
             Description="The action will permanently delete a transaction"
             OnDecisionMadeCallback="HandleDeleteModalResultAsync"/>

<TransactionCreateModal @ref="_addModal"
                        OperationTags="_operationTags"
                        OnValidSubmit="HandleAddAsync"/>

<TransactionUpdateModal @ref="_editModal"
                        OperationTags="_operationTags"
                        OnValidSubmit="HandleUpdateAsync"/>