@using SelfFinance.Blazor.Components.Abstract
@using SelfFinance.Client.ViewModels

<TableBase Items="Items"
           TItem="OperationTagViewModel"
           Context="tag">

    <HeaderTemplate>
        <th class="text-left">Name</th>
        <th class="text-left">Type</th>
        <th class="actions-cell"/>
    </HeaderTemplate>

    <DataRowTemplate>
        <td class="text-left">@tag.Name</td>
        <td class="text-left">@tag.Type</td>
        <td class="actions-cell">
            <div class="btn-container flex-row gap-10 space-between">
                <button class="edit-btn size-32 bg-transparent bg-warning-on-hover radius-5 transition-dot2s" 
                        @onclick="() => OnEditCallback.InvokeAsync(tag)"></button>
                <button class="delete-btn size-32 bg-transparent bg-danger-on-hover radius-5 transition-dot2s" 
                        @onclick="() => OnDeleteCallback.InvokeAsync(tag)"></button>
            </div>
        </td>
    </DataRowTemplate>
</TableBase>

@code {
    
    [Parameter]
    public EventCallback<OperationTagViewModel> OnEditCallback { get; set; }
    
    [Parameter]
    public EventCallback<OperationTagViewModel> OnDeleteCallback { get; set; }

    [Parameter]
    public IEnumerable<OperationTagViewModel>? Items { get; set; }
}