@using SelfFinance.Blazor.Components.Abstract
@using SelfFinance.Client.ViewModels
@using SelfFinance.Data.Models

<TableBase Items="Items"
           TItem="TransactionViewModel"
           Context="transaction">

    <HeaderTemplate>
        <th>Date</th>
        <th>Category</th>
        <th class="align-right">Amount</th>
        <th class="actions-cell"/>
    </HeaderTemplate>

    <DataRowTemplate>
        <td>@transaction.Date.ToString("dd MMM yyyy")</td>
        <td>@transaction.TagName</td>
        <td class="align-right primary-text">
            @($"{(transaction.SignedSum < 0 ? "-" : "")}{transaction.AbsoluteSum:C}")
        </td>
        <td class="actions-cell">
            <div class="btn-container">
                <button class="edit-btn" @onclick="() => OnEditCallback.InvokeAsync(transaction.Id)"></button>
                <button class="delete-btn" @onclick="() => OnDeleteCallback.InvokeAsync(transaction.Id)"></button>
            </div>
        </td>
    </DataRowTemplate>
</TableBase>

@code {
    
    [Parameter]
    public EventCallback<int> OnEditCallback { get; set; }
    
    [Parameter]
    public EventCallback<int> OnDeleteCallback { get; set; }

    [Parameter]
    public IEnumerable<TransactionViewModel>? Items { get; set; }
}