@using SelfFinance.Blazor.Components.Abstract
@using SelfFinance.Client.ViewModels

<TableBase Items="Items"
           TItem="TransactionViewModel"
           Context="transaction">

    <HeaderTemplate>
        <th class="text-left">Date</th>
        <th class="text-left">Category</th>
        <th class="text-right">Amount</th>
    </HeaderTemplate>

    <DataRowTemplate>
        <td class="text-left">@transaction.Date.ToString("dd MMM yyyy")</td>
        <td class="text-left">@transaction.TagName</td>
        <td class="text-right primary-text">
            @($"{(transaction.SignedSum < 0 ? "-" : "")}{transaction.AbsoluteSum:C}")
        </td>
    </DataRowTemplate>
</TableBase>

@code {
    [Parameter]
    public IEnumerable<TransactionViewModel>? Items { get; set; }
}